.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Optional weight-specific helpers */
.font-inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.font-inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.font-inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}